.header-title-line {
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.menu-hamburger {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-icon, .menu-icon::before, .menu-icon::after{
    background-color: white;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
}

.menu-icon::after, .menu-icon::before{
    content: "";
}

.menu-icon::before{
    transform: translate(0px, -12px);
}

.menu-icon::after{
    transform: translate(0px, 12px);
}



@media screen and (min-width: 768px){
    .menu-hamburger{
        display: none;
    }
}


@media screen and (min-width: 1200px) {
    .menu-hamburger{
        display: none;
    }
}