.container {
    display: flex;
    flex-direction: column;
}

:where(.header, .main, .footer){
    
}
.header {
    background-color: #333;
    color: white;
}

.main {
    background-color: #666;
}

.footer {
    background-color: #999;
}

.mobile_view {
    display: none;
}